<label class="inspector-title"><%- o.name %></label>

<button class="close-inspector" data-user="<%- o.user %>" data-name="<%- o.name %>">&times;</button>
<button class="load-sample">?</button>
<% if (o.type === 'view') { %>
<button class="show-view-sql" data-user="<%- o.user %>" data-name="<%- o.name %>">SQL</button>
<% } %>
<button class="expander"></button>

<table class="object-details">
  <thead>
    <tr>
      <th class="detail-name">Name</th>
      <th class="detail-type">Type</th>
    </tr>
  </thead>
  <tbody>
    <% o.columnsData.forEach(function (columnData) { %>
    <tr>
      <td class="detail-name"><%- columnData.COLUMN_NAME %></td>
      <td class="detail-type"><%- columnData.DATA_TYPE %> (<%- columnData.DATA_LENGTH %>)</td>
    </tr>
    <% }) %>
  </tbody>
</table>
