doctype html
html
  head
    title Oracle Database Browser
    link(rel="shortcut icon", type="image/png", href="/assets/media/favicon.png")
    link(href="https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro" rel="stylesheet")
    link(rel="stylesheet", href="assets/css/main.css")

  body.use-lowercase
    h1.app-name Oracle Database Browser
    section.global-controls
      input#use-lowercase(type="checkbox" checked="checked")
      label(for="use-lowercase") Use lowercase object names

    #main-wrapper
      section#connections
        form#connection-list-controls
          button#add-connection + Add Connection
          input#connection-list-auto-hide(type="checkbox")
          label(for="connection-list-auto-hide") Auto-hide

          label(for="object-list-filter") Filter objects
          input#object-list-filter(type="search")
        #connection-list-wrapper
          ul#connection-list

      #connection-sizer.pane-sizer.vertical

      section#object-inspectors
        div#debug

      #object-inspectors-sizer.pane-sizer.horizontal

      section#sql-pane
        ul#sql-pane-tabs
          li#debug-tab
            a.active(href="#sql-debug") Debug

        textarea#sql-debug.active

    #dialog-text-prompt.dialog
      .content
        form(action="#")
          p.message
          input
        .dialog-buttons
          button.ok.primary OK
          button.cancel Cancel

    #dialog-alert.dialog
      .content
        p.message
        .dialog-buttons
          button.ok.primary OK

    #dialog-status.dialog
      .content
        p.message


    footer.status-bar Click 'Add Connection' to get started.

    script#template-connection(type="text/mustache")
      include ./client_templates/connection.mustache
    script#template-table-inspector(type="text/mustache")
      include ./client_templates/inspector_table.mustache
    script#template-result-inspector(type="text/mustache")
      include ./client_templates/inspector_result.mustache
    script#template-sql-pane-tab(type="text/mustache")
      include ./client_templates/sql_pane_tab.mustache

    script(src="/assets/javascript/mustache.min.js")
    script(src="/assets/javascript/main.js")

