html, body,
h1, h2, h3, h4, h5,
ul, ol, li,
table, th, td,
p {
    padding: 0;
    margin: 0;
    list-style: none;
    font: inherit;
    font-size: 100%;
}

table {
    border-collapse: collapse;
}

html {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

body {
    line-height: 1;
}

a {
    color: #0084d1;
    text-decoration: none;
}

#debug {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 30em;
    border: 1px solid #c99;
    background-color: #fff4f4;
    padding: 0.5em;
    font-family: monospace;
    white-space: pre-wrap;
}

#debug,
#debug-tab,
#sql-debug {
    display: none !important;
}

.app-name {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #ddd;
    line-height: 1.5;
    font-size: 2em;
}

.expander {
    cursor: pointer;
}

.expander::before {
    content: '\2212  '; /* minus sign (same width as +, unlike hyphen) */
}

.expander.collapsed + * {
    display: none;
}

.expander.collapsed::before {
    content: '+ ';
}

button {
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 2px;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 0.2em 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: #fafafa;
    border-color: #888;
}

button:active {
    background-color: #ccc;
}


#main-wrapper {
    position: fixed;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 2em;
}

footer.status-bar {
    position: fixed;
    height: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 90%;
    background-color: #ddd;
    line-height: 2rem;
    border-top: 1px solid #aaa;
    box-sizing: border-box;
    padding-left: 0.5em;

    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

.pane-sizer,
#connections,
#object-inspectors,
#sql-pane {
    position: absolute;
    box-sizing: border-box;
}

.pane-sizer {
    background-color: #ccc;
}

.pane-sizer.vertical {
    top: 0;
    left: 20.4em;
    width: 0.1em;
    bottom: 0;
    /* disabling this until it actually allows resizing */
    /*cursor: col-resize;*/
}

.pane-sizer.vertical:hover {
    background-color: #0084d1;
}

.pane-sizer.horizontal {
    top: 40em;
    left: 20.5em;
    height: 0.5em;
    right: 0;
    cursor: row-resize;
}

#connections {
    top: 0;
    left: 0;
    width: 20.4em;
    bottom: 0;
}

#object-inspectors {
    top: 0;
    left: 20.5em;
    right: 0;
    height: 40em;
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

#sql-pane {
    top: 40.5em;
    left: 20.5em;
    right: 0;
    bottom: 0;
}

/* ================= Connection List =================== */

#connection-list-controls {
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
    height: 3em;
}

#connection-list-controls input,
#connection-list-controls label {
    line-height: 1.4;
    display: none !important;
}

#connections button,
#connections label,
#connections input {
    float: left;
    display: block;
}

#connections label.expander {
    float: none;
}

#connection-list-auto-hide,
label[for="object-list-filter"] {
    clear: left;
}

input + label,
label + input {
    margin-left: 0.5em;
}

#connection-list-wrapper {
    position: absolute;
    top: 3em;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 1em;
}

.connection-name {
    margin-top: 0.5em;
    border-top: 1px solid #ccc;
}

.connection-name,
.object-list-label {
    padding: 0.3em 0.5em;
}

.object-list-label {
    background-color: #eee;
}

.connection-objects > li {
    padding: 0.2em 0.5em;
}

#connection-list li:first-child label.connection-name {
    border-top: none;
}

.objects-list-wrapper {
    margin-left: 1em;
}

.connection-objects {
    margin-left: 0.5em;
}

.connection-objects a {
    text-transform: lowercase;
    transition: background-color 1s ease, color 1s ease;
}

.connection-objects a.has-inspector {
    color: #ab45d0;
}

.connection-objects a.has-inspector::after {
    content: " \2192"; /* right arrow */
}

.connection-objects a.broken {
    color: #c5000b;
    opacity: 0.4;
}

.connection-objects a.cyclic::before {
    content: "\21bb  "; /* clockwise open circle arrow */
    text-decoration: none;
}

.connection-objects a.pinged {
    background-color: #0084d1;
    color: #fff;
}

/* ================= Inspectors =================== */

.object-inspector {
    border: 1px solid #aaa;
    position: absolute;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    top: 2em;
    left: 2em;
    transition: border-color 0.4s ease, color 0.4s ease;
    border-radius: 2px;
    overflow: visible;
}

.object-inspector.pinged {
    border-color: #00f;
    color: #00f;
}

.object-inspector .inspector-title {
    display: block;
    padding: 0 0.5em 0 4.2em;
    line-height: 2;
    cursor: move;
    text-align: left;
    white-space: pre;
}

.object-inspector.table .inspector-title {
    background-color: #a0c6f8;
}

.object-inspector.view .inspector-title {
    background-color: #c3eeaf;
    /*padding-right: 5em;*/
}

.object-inspector.result .inspector-title {
    background-color: #ffd320;
    padding-right: 4.5em;
}

.object-inspector .sql-controls,
.object-inspector button {
    display: block;
    position: absolute;
    top: 0.2em;
}

.object-inspector .expander {
    left: 2.3em;
}

.object-inspector .close-inspector {
    left: 0.2em;
}

.object-inspector .load-sample {
    position: absolute;
    right: 0.2em;
    display: none !important;
}

.object-inspector.view .show-sql {
    right: 2em;
    display: none !important;
}

.object-inspector .inspector-user {
    font-size: 80%;
    vertical-align: 0.1em;
}

.object-inspector .sql-controls {
    top: 0;
    right: 0.5em;
    line-height: 2;
}

.sql-controls label {
    margin-left: 0;
}

.object-details {
    clear: both;
    width: 100%;
    text-transform: lowercase;
}

.object-details th {
    font-weight: normal;
    text-align: left;
    background-color: #eee;
    border-bottom: 1px solid #aaa;
}

.object-details tr > * {
    padding: 0.2em 1em 0.2em 0.5em;

}

.object-details tr:nth-child(even) td {
    background-color: #f4f4f4;
}

.object-details td {
    white-space: pre;
    max-width: 30em;
    overflow: auto;
}

.object-details .number {
    text-align: right;
}

.object-details .null {
    opacity: 0.4;
}

.object-details .detail-rowindex {
    max-width: 3em;
    opacity: 0.5;
    border-right: 1px solid #e4e4e4;
    padding-right: 0.5em;
}

.object-details tbody tr:nth-child(odd) .detail-rowindex {
    border-right-color: #f0f0f0;
}

.object-inspector .query-info {
    position: absolute;
    box-sizing: border-box;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #bbb;
    background-color: #fff9e3;
    padding: 0.3em 0.5em 0.5em;
    display: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.object-inspector .sql-controls.show-sql ~ .query-info {
    display: block;
}

.query-info h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.query-info .sql {
    font-family: monospace;
}

/* ================= SQL Pane =================== */
#sql-pane-tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3em;
    box-sizing: border-box;
    padding-top: 0.5em;
    border-bottom: 1px solid #ccc;
}
#sql-pane-tabs li {
    display: block;
    box-sizing: border-box;
    float: left;
    margin: 0 0.5em;
}

#sql-pane-tabs li a {
    display: block;
    box-sizing: border-box;
    background-color: #f4f4f4;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 0.5em;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px 4px 0 0;
}

#sql-pane-tabs li a.active {
    background-color: #fff;
    border-bottom-color: #fff;
}

#sql-pane textarea {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    border: none;
    top: 3rem;
    left: 0;
    width: 100%;
    bottom: 0;
    display: none;
    outline: none;
    font-family: monospace;
    font-size: 14px;
}

#sql-pane textarea.active {
    display: block;
}
